.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 3px solid black;
    background-color: bisque;
}



.header .box {
    border: 3px solid blue;
    background-color: aqua;
    height: 100px;
    padding: 80px;

}

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}
