html {
  display: inline-block;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 425px;
  background: #fff;
  margin: 20px auto;
  padding: 1px;
}

.title {
  background: #e3f4ff;
  margin: 20px 10px 10px 10px;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  text-align: center;
  padding: 10px;

}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 8px 25px;
}